html {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}

.header {    
    display: flex;
    background-color: #1B488C;
    color: white;
    padding: 0.5rem 0.5rem;
    justify-content: space-between;
    align-items: center;
}
.header_logo, .panel, .panel_list li {
    display: inline-block;
    margin: 5px;
}
.header_logo > img {
    width: 100px;
}
.panel {
    right: 150px;
    top: 25px;
}

.panel_list {
    list-style: none;
}

.panel_list li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}
.panel_list a:hover {
    color: #7F9C09;
}

.header h1 {
    font-size: 3rem;
    text-align: center;
}

.page6 {
    display: flex;
    height: auto;
    margin: 0 auto;    
}
.mensaje {
    position: relative;
    display: flex;
    height: auto;
    margin: 0 auto; 
  }
  
  .bg-image {
    opacity: 0.4;
  }
  
  .bg-img-title {
    position: absolute;
    top: 380px;
    left: 20px;
  }
.post {
    width: 500px;    
    margin: 1rem 10rem;
    height: 0 auto;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0.25rem 0;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);  
    display: inline-block;    
}

.contenido {
    margin: 2rem;
    text-align: center;
}

footer {
    background-color: #222;
    padding: 1rem;
    color: #fff;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #7F9C09;
}